<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sports Streams</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="mycss.css" rel="stylesheet">
</head>

<body ng-controller="Controller as c" ng-cloak>
    <div class="container">
        <div class="row">
            <div row="col-md-12">
                <h1>Sports Streams</h1>
                <!-- <input class="form-control" type="text" placeholder="Search" ng-model="search" ng-change="c.search(search)"></input> -->
            </div>
        </div>
        <br>
        <div class="row">
            <div row="col-md-12">
                <h3>NHL</h3>
                <uib-accordion close-others="false">
                    <uib-accordion-group ng-repeat="post in c.nhl">
                        <uib-accordion-heading>
                            {{post.data.title}}
                        </uib-accordion-heading>
                        <div ng-repeat="stream in post.bestStreams">
                            <a href="{{ stream }}" target="_blank">{{ stream }}</a>
                        </div>
                        <div ng-show="!post.bestStreams">
                            No Streams Available!
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.17.0/URI.min.js"></script>

    <script type="text/javascript" src="myjs.js"></script>
</body>

</html>
